/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.hidden{
  display: none !important;
}
*:focus{
  outline: none;
}
#student-form form{
  max-width: 400px;
}

.navbar-default{
  background-color: #3a8a92;
}
.navbar-brand{
  color: white !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

#sidebar-question-index{
  list-style-type: none;
}
#sidebar-question-index {
  text-align: center;
  color:#b3b3b3;
}
#sidebar-question-index span{
  float:left;
  width:25px;
  height: 25px;
  text-align: center;
  margin:4px;
  cursor: pointer;
  border-radius: 2px;
  color:#848484;
}
#sidebar-question-index span.attempted{
  background-color: #98d298;
  color:white;
}
#sidebar-question-index span.attempting{
  background-color: #e5e5e5;
  font-weight: bold;
  color: #848484;
}

#test_submit_btn{
  display: block;
  cursor:pointer;
  background-color: #3f51b5;
  height: 20px;
  padding: 17px;
}

 th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}