<div layout="row" layout-align="center center">

<md-content class="md-padding" layout-xs="column" layout="column" layout-align="center center" >
<md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Dashboard">
<p>This is the partial for view 1.{{details.air}}</p>
      <div flex-xs="" flex-gt-xs="50" layout="column" layout-align="center center">
      <h1 class="md-flex">Stream Scores</h1>
      <md-card flex-xs="" flex-gt-xs="50" layout="row" layout-xs="column" layout-align="center center">
        <md-card md-theme-watch="" md-whiteframe="12" class="stream" style='background-color: #42f4f1'>
          <md-card-title>
            <md-card-title-text layout="column" layout-align="center center">
              <span class="md-headline">AIR</span>
              <span class="md-head">{{details.air}}</span>
            </md-card-title-text>
            <md-card-title-media>
            </md-card-title-media>
          </md-card-title>
        </br>
        </md-card>
    </md-card>
      <md-card flex-xs="" flex-gt-xs="50" layout="row" layout-xs="column" layout-align="center center">
        <md-card md-theme-watch="" md-whiteframe="12" class="stream" style='background-color: #42f4f1'>
          <md-card-title>
            <md-card-title-text layout="column" layout-align="center center">
              <span class="md-headline">SPI</span>
              <span class="md-head">{{details.spi}}</span>
            </md-card-title-text>
            <md-card-title-media>
            </md-card-title-media>
          </md-card-title>
        </br>
        </md-card>
    </md-card>
  </div>
  <md-card  md-theme-watch="" ng-class="card_size">
    <md-toolbar >
      <div class="md-toolbar-tools">
        <h1 class="md-flex">SPI</h1>
      </div>
    </md-toolbar>
    <md-card-title>
      <md-card-title-text layout="column"       layout-align="center center">
        <span class="md-head">SPI is Success Potential Index rated between 0 and 1000. It determines the relative chances of a candidate to clear the examination. The score of 1000 means he has the highest chances of clearing the examination while 0 means that he has the lowest chance of clearing the examination.</span>
      </md-card-title-text>
    </md-card-title>
  </md-card>
 
<md-card ng-class="card_size">
      <md-toolbar >
        <div class="md-toolbar-tools">
          <h2 class="md-flex">Reso Tip</h2>
          <span flex=""></span>
          <md-button class="md-raised" ng-click="showDialogInfo($event,resoTipInfoTitle,resoTipInfoContent)" aria-label="Learn More">
            Learn More
          </md-button>
        </div>
      </md-toolbar>

      <md-card-title>
        <span class="md-head">You need to work on following things</span>
      </md-card-title>
        <div  ng-repeat="(key,subject) in details.subjectwise_effective_score">
          <md-subheader class="md-primary">{{key}}</md-subheader>
          <md-list-item ng-repeat="(topic,score) in subject" ng-if="score < 0.25">
              <p>{{topic}}</p>
          </md-list-item>
        </div>
    </md-card>
</md-tab>
<md-tab ng-show="checkOldExam" label="Comparative Analysis">
<md-card  ng-class="card_size" >
      <md-toolbar >
        <div class="md-toolbar-tools">
          <h2 class="md-flex">Status of weak topics of last exam</h2>
                    <span flex=""></span>
          <md-button class="md-raised" ng-click="showDialogInfo($event,overallAnalysisInfoTitle,overallAnalysisInfoContent)" aria-label="Learn More">
          Learn More
        </md-button>
        </div>
      </md-toolbar>
      <md-card-content>
        <table layout-fill>
          <thead>
            <tr>
              <th>Topic Name</th>
              <th>Result in last exam</th>
              <th>Result in this exam</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(key, name) in details.old_weak_to_normal">
              <td>{{key}}</td>
              <td>{{name.old_score_name}}</td>
              <td>{{name.new_score_name}}</td>
            </tr>
          </tbody>
        </table>
      </md-card-content>
    </md-card>
    <md-card  ng-class="card_size" >
      <md-toolbar >
        <div class="md-toolbar-tools">
          <h2 class="md-flex">Status of weak topics of this exam in last exam</h2>
                    <span flex=""></span>
          <md-button class="md-raised" ng-click="showDialogInfo($event,overallAnalysisInfoTitle,overallAnalysisInfoContent)" aria-label="Learn More">
          Learn More
        </md-button>
        </div>
      </md-toolbar>
      <md-card-content>
        <table layout-fill>
          <thead>
            <tr>
              <th>Topic Name</th>
              <th>Result in last exam</th>
              <th>Result in this exam</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(key, name) in details.old_normal_to_weak">
              <td>{{key}}</td>
              <td>{{name.old_score_name}}</td>
              <td>{{name.new_score_name}}</td>
            </tr>
          </tbody>
        </table>
      </md-card-content>
    </md-card>

  </md-tab>
<md-tab label="Analysis">
<md-card  md-theme-watch="" ng-class="card_size">
    <md-toolbar >
      <div class="md-toolbar-tools">
        <h1 class="md-flex">Relative Comparison of Your Score vs. Average Score</h1>
        <span flex=""></span>
        <md-button class="md-raised" ng-click="showDialogInfo($event,relAnalysisInfoTitle,relAnalysisInfoContent)" aria-label="Learn More">
          Learn More
        </md-button>
      </div>
    </md-toolbar>
    <div  >
      <canvas id="bar" chart-dataset-override="relative_datasetOverride" chart-options = "relative_options" chart-colors="relative_colors" class="chart chart-bar" chart-data="relative_data" chart-labels="relative_labels" chart-series="relative_series" layout-fill layout-align="center center"></canvas>
    </div>
  </md-card>
  <md-card  ng-class="card_size" >
      <md-toolbar >
        <div class="md-toolbar-tools">
          <h2 class="md-flex">Score Card</h2>
                    <span flex=""></span>
          <md-button class="md-raised" ng-click="showDialogInfo($event,overallAnalysisInfoTitle,overallAnalysisInfoContent)" aria-label="Learn More">
          Learn More
        </md-button>
        </div>
      </md-toolbar>
      <md-card-content>
        <table layout-fill>
          <thead>
            <tr>
              <th></th>
              <th ng-repeat="(key, score) in details.subjectwise_reference_scores['Maximum Score']">
                {{key}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(key, score_type) in details.subjectwise_reference_scores">
              <td>{{key}}</td>
              <td ng-repeat="(key, score) in score_type">{{score}}</td>
            </tr>
          </tbody>
        </table>
      </md-card-content>
    </md-card>
     <md-card  ng-class="card_size" >
      <md-toolbar >
        <div class="md-toolbar-tools">
          <h2 class="md-flex">Overall Performance At Various Difficulty Levels</h2>
                    <span flex=""></span>
          <md-button class="md-raised" ng-click="showDialogInfo($event,overallAnalysisInfoTitle,overallAnalysisInfoContent)" aria-label="Learn More">
          Learn More
        </md-button>
        </div>
      </md-toolbar>
      <md-card-content>
        <table layout-fill>
          <thead>
            <tr>
              <th>Questions</th>
              <th>Out Of</th>
              <th>Correct</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(key, count) in details.difficulty_breakup_table">
              <td>{{key}}</td>
              <td ng-repeat="value in count">{{value}}</td>
            </tr>
          </tbody>
        </table>
      </md-card-content>
    </md-card>
    <md-card  md-theme-watch="" ng-class="card_size">
      <md-toolbar >
        <div class="md-toolbar-tools">
          <h1 class="md-flex">Difficulty Analysis</h1>
          <span flex=""></span>
          <md-button class="md-raised" ng-click="showDialogInfo($event,diffAnalysisInfoTitle,diffAnalysisInfoContent)" aria-label="Learn More">
            Learn More
          </md-button>
        </div>
      </md-toolbar>
      <div  >
        <canvas id="bar" chart-dataset-override="difficulty_datasetOverride" chart-options = "difficulty_options" chart-colors="difficulty_colors" class="chart chart-bar" chart-data="difficulty_data" chart-labels="difficulty_labels" chart-series="difficulty_series" layout-fill layout-align="center center"></canvas>
      </div>
    </md-card>
    <md-card ng-class="card_size">
      <md-toolbar >
        <div class="md-toolbar-tools">
          <h2 class="md-flex">Topicwise Analysis</h2>
          <span flex=""></span>
          <md-button class="md-raised" ng-click="showDialogInfo($event,resoTipInfoTitle,resoTipInfoContent)" aria-label="Learn More">
            Learn More
          </md-button>
        </div>
      </md-toolbar>
        <div  ng-repeat="(key,subject) in details.subjectwise_effective_score">
          <md-subheader class="md-primary">{{key}}</md-subheader>
         <!--  <md-card-title>
            <span class="md-head">{{key}}</span>
          </md-card-title> -->
          <!-- <md-list-item  ng-repeat="(topic,score) in subject">
            <p> {{score}} </p>
            <md-divider></md-divider>
          </md-list-item> -->
          <md-list-item ng-repeat="(topic,score) in subject">
              <p>{{topic}}</p>
              <md-card class="small"> 
                <md-slider-container ng-disabled="true">
                  <md-slider ng-model="productSlider(subject[topic])" aria-label="Disabled 1" flex md-discrete ng-readonly="true"></md-slider>

                  <md-input-container>
                    <input flex type="decimal" ng-model="subject[topic]" aria-label="green" aria-controls="green-slider">
                  </md-input-container>
                </md-slider-container>
              </md-card>
          </md-list-item>
        </div>
    </md-card>
</md-tab>
<md-tab label="Macro Analysis">
  <md-card ng-class="card_size"  >
  <md-toolbar >
    <div class="md-toolbar-tools">
      <span flex=""></span>
      <h2 class="md-flex">Questionwise Analysis</h2>
      <md-button class="md-raised" ng-click="showDialogInfo($event,overallAnalysisInfoTitle,overallAnalysisInfoContent)" aria-label="Learn More">
          Learn More
        </md-button>
    </div>
  </md-toolbar>
    <md-card-content>
      <table layout-fill>
        <thead>
          <tr>
            <th>Q. No.</th>
            <th>Subject</th>
            <th>Topic</th>
            <th>Difficulty Type</th>
            <th>Your response</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat = "score in details.user_question_score">
            <td>{{score.seq}}</td>
            <td>{{score.subject}}</td>
            <td>{{score.topic}}</td>
            <td>{{score.difficulty}}</td>
            <td>{{responseType(score.answer)}}</td>
          </tr>
        </tbody>
      </table>
    </md-card-content>
     </div>  
  </md-card> 
  
<!--   <md-card md-theme-watch="" >
    <md-toolbar >
      <div class="md-toolbar-tools">
        <h2 class="md-flex">Topicwise Analysis</h2>
      </div>
    </md-toolbar>
    <md-card-content>
      <div flex-xs="" flex-gt-xs="50" layout="column" layout-fill>
        <table layout-fill>
          <thead>
            <tr><th>Algebra</th></tr>
          </thead>
          
          <tbody>
            <tr>
              <td style="width:70%">
                <div class="pbar">
                  <div class="side1" aria-valuemax="100" style=" width: 50%;background-color:teal">500</div>
                </div>
              </td>
              <td><span>#1Topic Name</span></td>
            </tr>
            <tr>
              <td style="width:70%">
                <div class="pbar">
                  <div class="side1" aria-valuemax="100" style=" width: 50%;background-color:teal">500</div>
                </div>
              </td>
              <td><span>#1Topic Name</span></td>
            </tr>
          </tbody>
        
        </table>
      </div>
      <div flex-xs="" flex-gt-xs="50" layout="column">
        <table  layout-fill>
          <thead>
            <tr><th>Number System</th></tr>
          </thead>
          
          <tbody>
            <tr>
              <td style="width:70%">
                <div class="pbar">
                  <div class="side1" aria-valuemax="100" style=" width: 0%;background-color:teal">00</div>
                </div>
              </td>
              <td><span>#1Topic Name</span></td>
            </tr>
            <tr>
              <td style="width:70%">
                <div class="pbar">
                  <div class="side1" aria-valuemax="100" style=" width: 50%;background-color:teal">500</div>
                </div>
              </td>
              <td><span>#2Topic Name</span></td>
            </tr>
          </tbody>
        
        </table>
      </div>
    </md-card-content>
  </md-card> -->
  </div>
</md-content>

</div>

  </md-tab>
</md-tabs>