<md-content class="md-padding" layout-xs="column" layout="column" layout-align="center center" >
<p>This is the partial for view 1.{{details.air}}</p>
      <div flex-xs="" flex-gt-xs="50" layout="column" layout-align="center center">
      <h1 class="md-flex">Stream Scores</h1>
      <md-card flex-xs="" flex-gt-xs="50" layout="row" layout-xs="column" layout-align="center center">
        <md-card md-theme-watch="" md-whiteframe="12" class="stream">
          <md-card-title>
            <md-card-title-text layout="column" layout-align="center center">
              <span class="md-headline">{{stringWrapper("stream-Name")}}</span>
              <span class="md-head">Score 1000</span>
            </md-card-title-text>
            <md-card-title-media>
            </md-card-title-media>
          </md-card-title>
        </br>
        </md-card>
    </md-card>
      <div flex-xs="" flex-gt-xs="50" layout="row"  layout-align="center center" layout-xs="column" >
        <md-card md-theme-watch="" md-whiteframe="7">
          <md-card-title>
            <md-card-title-text layout="column"  layout-align="center center">
              <span class="md-head">Chapter Name</span>
              <span class="md-subhead">Score: 1000</span>
            </md-card-title-text>
          </md-card-title>
        </md-card>
         <md-card md-theme-watch="" md-whiteframe="8">
          <md-card-title>
            <md-card-title-text layout="column" layout-align="center center">
              <span class="md-head">Chapter Name</span>
              <span class="md-subhead">Score: 1000</span>
            </md-card-title-text>
          </md-card-title>
        </md-card>
      </div>
    </div>
  <md-card  md-theme-watch="" class="small">
    <md-toolbar >
      <div class="md-toolbar-tools">
        <h1 class="md-flex">Difficulty Analysis</h1>
        <span flex=""></span>
        <md-button class="md-raised" ng-click="showDialogInfo($event,diffAnalysisInfoTitle,diffAnalysisInfoContent)" aria-label="Learn More">
          Learn More
        </md-button>
      </div>
    </md-toolbar>
    <div  >
      <canvas id="bar" chart-dataset-override="difficulty_datasetOverride" chart-options = "difficulty_options" chart-colors="difficulty_colors" class="chart chart-bar" chart-data="difficulty_data" chart-labels="difficulty_labels" chart-series="difficulty_series" layout-fill layout-align="center center"></canvas>
    </div>
  </md-card>
  <md-card  md-theme-watch="" class="small">
    <md-toolbar >
      <div class="md-toolbar-tools">
        <h1 class="md-flex">Difficulty Analysis</h1>
        <span flex=""></span>
        <md-button class="md-raised" ng-click="showDialogInfo($event,relAnalysisInfoTitle,relAnalysisInfoContent)" aria-label="Learn More">
          Learn More
        </md-button>
      </div>
    </md-toolbar>
    <div  >
      <canvas id="bar" chart-dataset-override="relative_datasetOverride" chart-options = "relative_options" chart-colors="relative_colors" class="chart chart-bar" chart-data="relative_data" chart-labels="relative_labels" chart-series="relative_series" layout-fill layout-align="center center"></canvas>
    </div>
  </md-card>
  <md-card  md-theme-watch="" class="small">
    <md-toolbar >
      <div class="md-toolbar-tools">
        <h1 class="md-flex">Attempt Breakup</h1>
        <span flex=""></span>
        <md-button class="md-raised" ng-click="showDialogInfo($event,attemptBreakupInfoTitle,attemptBreakupInfoContent)" aria-label="Learn More">
          Learn More
        </md-button>
      </div>
    </md-toolbar>
    <div layout="column" layout-align="center center" class="pie">
      <canvas id="doughnut" chart-colors="attempt_colors" class="chart chart-doughnut" chart-data="attempt_data" chart-labels="attempt_labels" ></canvas> 
    </div>
  </md-card>
  <md-card  md-theme-watch="" class="small">
    <md-toolbar >
      <div class="md-toolbar-tools">
        <h1 class="md-flex">Topicwise Analysis</h1>
        <span flex=""></span>
        <md-button class="md-raised" ng-click="showDialogInfo($event,topicwiseAnalysisInfoTitle,topicwiseAnalysisInfoContent)" aria-label="Learn More">
          Learn More
        </md-button>
      </div>
    </md-toolbar>
    <div  layout-fill layout-align="center center">
      <canvas id="base" chart-series="topicwise_series" chart-options = "topic_options" chart-colors="topicwise_colors" class="chart-horizontal-bar" chart-data="topicwise_data" chart-labels="topicwise_labels"  layout-fill></canvas> 
    </div>
  </md-card>
  <md-card  md-theme-watch="" class="small">
    <md-toolbar >
      <div class="md-toolbar-tools">
        <h1 class="md-flex">Topicwise Time Analysis</h1>
        <span flex=""></span>
        <md-button class="md-raised" ng-click="showDialogInfo($event,topicwiseTimeAnalysisInfoTitle,topicwiseTimeAnalysisInfoContent)" aria-label="Learn More">
          Learn More
        </md-button>
      </div>
    </md-toolbar>
   
    <div layout-fill layout-align="center center">
    <canvas id="radar"  chart-series="topic_time_series" chart-options = "topic_time_options" chart-colors="time_colors"  class="chart chart-radar" chart-data="topic_time_data" chart-options="options" chart-labels="topic_labels" layout-fill></canvas> 
    </div>
     <md-list-item ng-repeat="topic in topic_time_labels">
      <p> Topic#{{$index+1}}: {{topic}} </p>
      <md-divider></md-divider>
    </md-list-item>
  </md-card>
    <md-card  md-theme-watch="" class="small">
    <md-toolbar >
      <div class="md-toolbar-tools">
        <h1 class="md-flex">Chapterwise Time Analysis</h1>
        <span flex=""></span>
        <md-button class="md-raised" ng-click="showDialogInfo($event,chapterwiseTimeAnalysisInfoTitle,chapterwiseTimeAnalysisInfoContent)" aria-label="Learn More">
          Learn More
        </md-button>
      </div>
    </md-toolbar>
    <div  layout-fill layout-align="center center">
      <canvas id="radar"  chart-series="chapter_time_series" chart-options = "chapter_time_options" chart-colors="time_colors"  class="chart-horizontal-bar" chart-data="chapter_time_data" chart-options="options" chart-labels="chapter_time_labels"></canvas> 
    </div>
  </md-card>
  <md-card  md-theme-watch="" class="large">
    <md-toolbar >
      <div class="md-toolbar-tools">
        <h1 class="md-flex">SPI</h1>
      </div>
    </md-toolbar>
    <md-card-title>
      <md-card-title-text layout="column"       layout-align="center center">
        <span class="md-head">SPI is Success Potential Index rated between 0 and 1000. It determines the relative chances of a candidate to clear the examination. The score of 1000 means he has the highest chances of clearing the examination while 0 means that he has the lowest chance of clearing the examination.</span>
      </md-card-title-text>
    </md-card-title>
  </md-card>
  <md-card class="large">
    <md-toolbar >
      <div class="md-toolbar-tools">
        <h2 class="md-flex">Reso Tip</h2>
        <span flex=""></span>
        <md-button class="md-raised" ng-click="showDialogInfo($event,resoTipInfoTitle,resoTipInfoContent)" aria-label="Learn More">
          Learn More
        </md-button>
      </div>
    </md-toolbar>
    <md-card-title>
    <span class="md-head">You need to work on following things</span>
    </md-card-title>
    <md-list-item>
      <p> Tip#1 </p>
      <md-divider></md-divider>
    </md-list-item>
    <md-list-item>
      <p> Tip#2 </p>
      <md-divider></md-divider>
    </md-list-item>
  </md-card>
  <md-card class="large"  >
  <md-toolbar >
    <div class="md-toolbar-tools">
      <span flex=""></span>
      <h2 class="md-flex">Overall Performance At Various Difficulty Levels</h2>
      <md-button class="md-raised" ng-click="showDialogInfo($event,overallAnalysisInfoTitle,overallAnalysisInfoContent)" aria-label="Learn More">
          Learn More
        </md-button>
    </div>
  </md-toolbar>
    <md-card-content>
      <table layout-fill>
        <thead>
          <tr>
            <th>Difficulty</th>
            <th>Correct</th>
            <th>Incorrect</th>
            <th>Unattempted</th>
            <th>Out of</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Easy</td>
            <td>10</td>
            <td>20</td>
            <td>10</td>
            <td>40</td>
          </tr>
          <tr>
            <td>Easy</td>
            <td>10</td>
            <td>20</td>
            <td>10</td>
            <td>40</td>
          </tr>
        </tbody>
      </table>
    </md-card-content>
     </div>  
  </md-card> -->
<!--   <md-card md-theme-watch="" >
    <md-toolbar >
      <div class="md-toolbar-tools">
        <h2 class="md-flex">Topicwise Analysis</h2>
      </div>
    </md-toolbar>
    <md-card-content>
      <div flex-xs="" flex-gt-xs="50" layout="column" layout-fill>
        <table layout-fill>
          <thead>
            <tr><th>Algebra</th></tr>
          </thead>
          
          <tbody>
            <tr>
              <td style="width:70%">
                <div class="pbar">
                  <div class="side1" aria-valuemax="100" style=" width: 50%;background-color:teal">500</div>
                </div>
              </td>
              <td><span>#1Topic Name</span></td>
            </tr>
            <tr>
              <td style="width:70%">
                <div class="pbar">
                  <div class="side1" aria-valuemax="100" style=" width: 50%;background-color:teal">500</div>
                </div>
              </td>
              <td><span>#1Topic Name</span></td>
            </tr>
          </tbody>
        
        </table>
      </div>
      <div flex-xs="" flex-gt-xs="50" layout="column">
        <table  layout-fill>
          <thead>
            <tr><th>Number System</th></tr>
          </thead>
          
          <tbody>
            <tr>
              <td style="width:70%">
                <div class="pbar">
                  <div class="side1" aria-valuemax="100" style=" width: 0%;background-color:teal">00</div>
                </div>
              </td>
              <td><span>#1Topic Name</span></td>
            </tr>
            <tr>
              <td style="width:70%">
                <div class="pbar">
                  <div class="side1" aria-valuemax="100" style=" width: 50%;background-color:teal">500</div>
                </div>
              </td>
              <td><span>#2Topic Name</span></td>
            </tr>
          </tbody>
        
        </table>
      </div>
    </md-card-content>
  </md-card> -->
  </div>
</md-content>